.idea
.vscode
.env
.venv
.pip
.run

**/__pycache__/
TempFiles/
outputs/

~*
*.html
*.log
*.asv
#TODO_list.txt

*.aux
*.blg
*.bbl
*.synctex.gz
*.synctex(busy)
*-converted-to.pdf

experiments/results/cache/

# литература хранится в books (см. resources/литература/ГДЕ_ФАЙЛЫ.md)
resources/литература/**/*.pdf
resources/литература/**/*.xml
resources/литература/**/*.doc
resources/всякие статьи/
