# Для ускорения сборки окружения перед установкой библиотек необходимо установить uv!!!
joblib
numpy
pillow
kaleido==0.*
matplotlib
plotly
psutil
numba
sparse-numba  # https://github.com/th1275/sparse_numba/blob/main/docs/Installation_Guide_for_sparse_numba.md
scipy
tqdm
