# Перед устновкой установить пакет uv. С ним установка окружения быстрее!!!
joblib
numpy
pillow
kaleido==0.*
plotly
psutil
scipy
taichi
tqdm
# python-poppler  # либа для сохранения графиков plotly в формате .eps (sudo apt-get install poppler-utils)
# pypardiso  # либа для параллельного решения СЛАУ
